extends layout

block layout-content
  div.View.UserView
    h1.Banner Howdy, #{userProfile.name.givenName}!
    div.Message
      div.Title
        h3 Making Us the Best
        h1 Teammate Profile
      img.displayPicture(src=userProfile.picture)
      h3 #{userProfile.displayName}
      h5 Email: #{userProfile.emails[0].value}
      //pre.Details=JSON.stringify(userProfile, null, 2)
    div.NavButtons
      a(href="/logout")
        div.NavButton Log out